<div class="row" style="margin-top: 20px;">
    <div class="large-12 columns">
        <ul class="inline-list">
            <li><a href="/">Stats</a></li>
            <li><a href="/leaderboard">Leaderboard</a></li>
        </ul>
    </div>
</div>
